<h1 class="heading">Hello Angular {{data}} </h1>

<button (click)="getName('Kavindu')">click me</button>

<app-login></app-login>

<app-register></app-register>

<app-login></app-login>

<app-register></app-register>

<app-user-list></app-user-list>

<app-student-list></app-student-list>

<button (click)="getName('Kavindu')">Click Here</button>

<app-login></app-login>

<br><br>
<input type="text" placeholder="Key Up" (keyup)="getData(box1.value)" #box1 />
<br><br>
<input type="text" placeholder="Key Down" (keydown)="getData(box2.value)" #box2 />
<br><br>
<input type="text" placeholder="Blur" (blur)="getData(box3.value)" #box3 />
<br><br>
<input type="text" placeholder="Inpur Box" (input)="getData(box4.value)" #box4 />

<h2 (mouseover)="getData('mouse over')">Kavindu</h2>

<h2 (mouseleave)="getData('mouse leave')">Madushanka</h2>

<hr>
<input type="text" #box placeholder="Enter Name" name="username">

<button (click)="getValue(box.value)">click me</button>

<p>Box value is: {{displayVal}}</p>

<hr>

<button (click)="decreaseCounter()">--</button>
<p>Count: {{count}}</p>
<button (click)="increaseCounter()">++</button>

<hr>

<input type="text" value={{name}}>
<br>
<input type="text" [value]=name>

<hr>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
    <h1>If Condition</h1>
</ng-template>


<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template>

<hr>
<h1>Multiple if-else condition</h1>

<ng-template [ngIf] = "color === 'red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf] = "color === 'blue'">
    <h1 style="color: blue;">Blue Color</h1>
</ng-template>

<hr>
<h1>Switch Case</h1>

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
    <h1 *ngSwitchDefault style="color: green;">Green Color</h1>
</div>